/* Estilos generales */
body {
    font-family: 'Arial', sans-serif; /* Cambiado a Arial */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

h1 {
    color: #2c3e50;
    margin: 20px 0;
    text-align: center;
    font-size: 2.5em;
    transition: color 0.3s ease, transform 0.3s ease;
}

h1:hover {
    color: #d23f57;
    transform: scale(1.05);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.logo {
    width: 10vw;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 2%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #444; /* Color de fondo del menú */
    padding: 10px;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar categorías */
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que las categorías se envuelvan */
    justify-content: center; /* Centrar las categorías */
}

.navMenu li {
    margin: 5px; /* Espaciado entre categorías */
}

/* Estilos para los botones ovalados */
.boton-container {
    display: flex; /* Mantener los botones en línea */
    justify-content: center; /* Centrar los botones */
    margin: 20px 0; /* Espaciado vertical */
}

.oval-button {
    background-color: #e74c3c; /* Color de fondo rojo */
    color: white; /* Color del texto */
    padding: 12px 24px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como un botón */
    font-size: 18px; /* Tamaño de la fuente */
    margin: 8px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados más pronunciados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para el color de fondo y el efecto de transformación */
}

.oval-button:hover {
    background-color: #c0392b; /* Color de fondo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}

/* Estilos para el botón "Añadir al Carrito" */
.boton-carrito {
    background-color: #d23f57; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para el color de fondo y el efecto de transformación */
    margin: 8px; /* Margen alrededor del botón */
}

.boton-carrito:hover {
    background-color: #c0392b; /* Color de fondo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}

/* Efecto hover en los enlaces del menú */
.navMenu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navMenu a:hover {
    background-color: #d23f57; /* Color de fondo al pasar el mouse */
    color: #fff; /* Cambiar color del texto al pasar el mouse */
}

/* Estilos para el menú en dispositivos móviles */
@media (max-width: 768px) {
    .navMenu {
        flex-direction: column; /* Cambiar a columna en móviles */
        align-items: center; /* Centrar elementos */
        padding: 0; /* Sin padding */
    }

    .navMenu li {
        width: 100%; /* Hacer que cada categoría ocupe el ancho completo */
        text-align: center; /* Centrar texto */
    }

    .navMenu a {
        padding: 15px; /* Aumentar el padding para mejor clicabilidad */
        width: 100%; /* Hacer que el enlace ocupe todo el ancho */
    }
}

/* Estilos para las categorías */
.categoria {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.categoria h2 {
    color: #d23f57;
    margin-top: 0;
    font-size: 1.8em;
    text-align: center;
    border-bottom: 2px solid #d23f57;
    padding-bottom: 10px;
}

/* Estilos para los productos */
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.producto:last-child {
    border-bottom: none;
}

.producto:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
}

.producto img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.producto img:hover {
    transform: scale(1.1);
}

/* Animación para agrandar la imagen del producto */
.producto img.agrandar {
    transform: scale(2); /* Aumenta el tamaño de la imagen */
    transition: transform 0.3s ease; /* Transición suave */
}

.producto-info {
    text-align: center;
}

.producto-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #2c3e50;
}

.precio {
    color: #d23f57;
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.2em;
}

.ingredientes {
    font-size: 0.95em;
    color: #666;
}

.cantidad {
    width: 60px;
    padding: 8px;
    border: 2px solid #d23f57;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 1em;
    text-align: center;
}

/* Estilos para el campo de notas */
.nota {
    width: 100%;
    padding: 8px;
    border: 2px solid #d23f57;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    margin-top: 10px;
    transition: border-color 0.3s;
}

.nota:focus {
    border-color: #c0392b;
    outline: none;
}

/* Estilos para la información de contacto */
.contacto {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contacto h1 {
    color: #2c3e50;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    margin-bottom : 25px;
    border-bottom: 2px solid #d23f57;
    padding-bottom: 10px;
}

.contacto p {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: #333;
    transition: transform 0.3s ease;
}

.contacto p:hover {
    transform: translateX(10px);
}

.contacto i {
    margin-right: 15px;
    font-size: 1.4em;
    width: 30px;
    text-align: center;
}

.contacto a {
    color: #d23f57;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    font-weight: 600;
}

.contacto a:hover {
    color: #c0392b;
    border-bottom: 1px solid #c0392b;
}

.contacto .fa-motorcycle { color: #2ecc71; }
.contacto .fa-instagram { color: #e1306c; }
.contacto .fa-tiktok { color: #000000; }
.contacto .fa-money-bill-wave { color: #27ae60; }
.contacto .fa-university { color: #3498db; }

/* Estilos para el carrito de compras */
#carrito-container {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    height: auto;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#carrito {
    padding: 20px;
}

#carrito h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 2px solid #d23f57;
    padding-bottom: 10px;
}

#lista-carrito {
    margin-bottom: 20px;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    color: #ffffff;
}

#total {
    font-weight: bold;
    text-align: right;
    margin: 15px 0;
    font-size: 1.2em;
    color: #d23f57;
}

.btn-enviar, .btn-vaciar {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-enviar {
    background-color: #25D366;
    color: white;
}

.btn-enviar:hover {
    background-color: #128C7E;
}

.btn-vaciar {
    background-color: #ff4444;
    color: white;
}

.btn-vaciar:hover {
    background-color: #cc0000;
}

.cantidad-carrito {
    width: 40px;
    text-align: center;
}

.btn-eliminar {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-carrito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d23f57;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
}

#contador-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.mensaje-envio {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Estilos para los botones flotantes */
#toggle-carrito {
    display: none; /* Oculto por defecto, se mostrará en móviles */
}

#toggle-carrito-movil {
    display: none; /* Oculto por defecto, se mostrará en móviles */
}

@media (max-width: 768px) {
    #toggle-carrito {
        display: block; /* Mostrar en móviles */
    }

    #toggle-carrito-movil {
        display: block; /* Mostrar en móviles */
        background-color: #d23f57; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 10px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        cursor: pointer; /* Cambia el cursor al pasar el mouse */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    #toggle-carrito-movil:hover {
        background-color: #c0392b; /* Color más oscuro al pasar el mouse */
    }

    .menu-desplegable {
        position: fixed; /* Fijo en la pantalla */
        top: 20px; /* Ajusta la posición vertical */
        right: 20px; /* Ajusta la posición horizontal */
        z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    }

    .boton-menu {
        background-color: #4CAF50; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 15px; /* Espaciado interno */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar el mouse */
        font-size: 16px; /* Tamaño de fuente */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    .boton-menu:hover {
        background-color: #45a049; /* Color de fondo al pasar el mouse */
    }

    .opciones {
        display: none; /* Oculto por defecto */
        position: absolute; /* Posicionamiento absoluto */
        top: 40px; /* Ajusta la posición vertical del menú desplegable */
        right: 0; /* Alineado a la derecha */
        background-color: white; /* Color de fondo del menú */
        border: 1px solid #ccc; /* Borde del menú */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del menú */
        z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
    }

    .opciones ul {
        list-style-type: none; /* Sin viñetas */
        padding: 0; /* Sin padding */
        margin: 0; /* Sin margen */
    }

    .opciones li {
        padding: 10px; /* Espaciado interno de cada opción */
    }

    .opciones li a {
        text-decoration: none; /* Sin subrayado */
        color: #333; /* Color del texto */
        display: block; /* Hace que el área clickeable sea toda la opción */
    }

    .opciones li:hover {
        background: #f1f1f1; /* Color de fondo al pasar el mouse */
    }
}

.contacto .fa-motorcycle { color: #2ecc71; }
.contacto .fa-instagram { color: #e1306c; }
.contacto .fa-tiktok { color: #000000; }
.contacto .fa-money-bill-wave { color: #27ae60; }
.contacto .fa-university { color: #3498db; }

/* Estilos para el carrito de compras */
#carrito-container {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    height: auto;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#carrito {
    padding: 20px;
}

#carrito h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 2px solid #d23f57;
    padding-bottom: 10px;
}

#lista-carrito {
    margin-bottom: 20px;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    color: #ffffff;
}

#total {
    font-weight: bold;
    text-align: right;
    margin: 15px 0;
    font-size: 1.2em;
    color: #d23f57;
}

.btn-enviar, .btn-vaciar {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-enviar {
    background-color: #25D366;
    color: white;
}

.btn-enviar:hover {
    background-color: #128C7E;
}

.btn-vaciar {
    background-color: #ff4444;
    color: white;
}

.btn-vaciar:hover {
    background-color: #cc0000;
}

.cantidad-carrito {
    width: 40px;
    text-align: center;
}

.btn-eliminar {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-carrito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d23f57;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
}

#contador-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.mensaje-envio {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Estilos para los botones flotantes */
#toggle-carrito {
    display: none; /* Oculto por defecto, se mostrará en móviles */
}

#toggle-carrito-movil {
    display: none; /* Oculto por defecto, se mostrará en móviles */
}

@media (max-width: 768px) {
    #toggle-carrito {
        display: block; /* Mostrar en móviles */
    }

    #toggle-carrito-movil {
        display: block; /* Mostrar en móviles */
        background-color: #d23f57; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 10px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        cursor: pointer; /* Cambia el cursor al pasar el mouse */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    #toggle-carrito-movil:hover {
        background-color: #c0392b; /* Color más oscuro al pasar el mouse */
    }

    .menu-desplegable {
        position: fixed; /* Fijo en la pantalla */
        top: 20px; /* Ajusta la posición vertical */
        right: 20px; /* Ajusta la posición horizontal */
        z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    }

    .boton-menu {
        background-color: #4CAF50; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 15px; /* Espaciado interno */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar el mouse */
        font-size: 16px; /* Tamaño de fuente */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    .boton-menu:hover {
        background-color: #45a049; /* Color de fondo al pasar el mouse */
    }

    .opciones {
        display: none; /* Oculto por defecto */
        position: absolute; /* Posicionamiento absoluto */
        top: 40px; /* Ajusta la posición vertical del menú desplegable */
        right: 0; /* Alineado a la derecha */
        background-color: white; /* Color de fondo del menú */
        border: 1px solid #ccc; /* Borde del menú */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del menú */
        z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
    }

    .opciones ul {
        list-style-type: none; /* Sin viñetas */
        padding: 0; /* Sin padding */
        margin: 0; /* Sin margen */
    }

    .opciones li {
        padding: 10px; /* Espaciado interno de cada opción */
    }

    .opciones li a {
        text-decoration: none; /* Sin subrayado */
        color: #333; /* Color del texto */
        display: block; /* Hace que el área clickeable sea toda la opción */
    }

    .opciones li:hover {
        background: #f1f1f1; /* Color de fondo al pasar el mouse */
    }
}